body{
	background: #fff;
}
.cart{
	margin: 100px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
	border-radius: 20px;
	box-shadow: 5px 5px 20px #3f3e3e;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 10px gray;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}

.shadow-bg{
	border-radius: 20px;
	box-shadow: 5px 5px 20px #3f3e3e;
}
#subscribe{
	height: 300px;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#subscribe h6{
    color: gray;
}
#btn-gapped{
    margin-top: 10px;
}

.slight-gap{
    margin-bottom: 100px;
}

.follow-me {
    text-align: center;
}
.follow-me h1{
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
}
.social-icon img {
    width: 110px;
    height: 110px;
    padding: 20px;
}
.social-icon img:hover{
    height: 130px;
    width: 130px;
    transition: 0.3s;
}

footer p {
    text-align: center;
	padding-top: 100px;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: 500;
}
